html, main {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(53, 59, 62);
}

button {
    background-color: rgb(53, 59, 62);
    border-color: #ffa260;
    color: #ffa260;
    border: solid 1px;
    padding: 8px 16px;
    transition: 0.3s;
}

button:hover {
    border-color: #f1ff5c;
    color: #f1ff5c;
    box-shadow: 0 5px 5px -5px #f1ff5c;
    transform: translateY(-5px);
}